.upperbar{
    position: relative;
    left: 105px;
    top: -270px;
    width: 430px;
    height: 80px;
}

.bar{
    width: 430px;
    height: 80px;
    font-size: 3em;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    border-radius: 15px;
    left: 100px;
    right : 100px;
    background-color: black;
    color: white;
}


.container{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 100px;
    top: 150px;
    width: 330px;
    height: 330px;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.box{
    width: 100px;
    height: 100px;
    font-size: 4em;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    border-radius: 15px;
    left: 100px;
    right : 100px;
    background-color: grey;
    color: black;
    row-gap: 50px;
}


.calculation{
    display: flex;
    flex-direction: row;
    position: relative;
    left:430px;
    top: -260px;
    width: 100px;
    height: 440px;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.buttona{
    width: 100px;
    height: 100px;
    font-size: 4em;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    border-radius: 15px;
    left: 100px;
    right : 100px;
    background-color: orange;
    color: black;
    row-gap: 50px;
}



.zero{
    display: flex;
    flex-direction: row;
    position: relative;
    left:110px;
    top: -370px;
    width: 310px;
    height: 100px;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.zerobutton{
    width: 310px;
    height: 100px;
    font-size: 4em;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    border-radius: 15px;
    left: 100px;
    right : 100px;
    background-color: lightgray;
    color: black;
    row-gap: 50px;
}
